.logo {
    cursor: pointer;
}

.icon {
    display: flex;
    column-gap: 10px;
}

.Palette {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    transition: all 0.3s ease;
    border: 1px solid var(--outline-border);
    padding: 0.7rem;
    width: 33px;
    height: 33px;
}

.Palette:hover {
    background-color: var(--surface-2);
    color: var(--text-color);
}
