<div class="v1">
    <div class="v2"></div>
    <div class="v3"></div>
    <div class="v6">
        <lucide-icon name="Sparkles" size="14"></lucide-icon>
    </div>
    <div class="v7">
        <svg></svg>
    </div>
    <div class="v8"></div>

    <div class="p-3 md-p-6 relative z-10">
        <div class="flex justify-center mb-3 md-mb-4 custom-flex">
            <div class="v9">
                <img alt="title" loading="lazy" decoding="async" data-nimg="fill" class="object-cover" src="">
            </div>
            <h3 class=" v11">{{"title"}}</h3>
            <div class="space-y-2 md-space-y-3">
                <div class="v10">
                    <lucide-icon name="Mail" size="14"></lucide-icon>
                    <span class="text-xs md-text-sm truncate text-yellow-100">{{"email"}}</span>
                </div>
                <div class="v10">
                    <lucide-icon name="Globe" size="14"></lucide-icon>
                    <span class="text-xs md-text-sm truncate text-yellow-100">{{"website"}}</span>
                </div>
                <div class="v10">
                    <lucide-icon name="Phone" size="14"></lucide-icon>
                    <span class="text-xs md-text-sm truncate text-yellow-100">{{"phoneNumber"}}</span>
                </div>
            </div>
        </div>
    </div>
</div>